* {
     padding:0;
     margin:0;
}
body {
    font-family: 'Varela Round', sans-serif;
    text-align:center;
    animation:fadein 1s 1;
    color:#380838;
    animation-fill-mode:both;
    position:relative;
    background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.15'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
img {
    width:150px;
    position:relative;
    animation:img 0.8s 0.5s 1;
    animation-fill-mode:both;
}
h1 {
    text-transform:uppercase ;
}
p {
    font-size:13px;
}
@keyframes fadein {
    0% {
        opacity:0;
        transform: scale(0);
        top:-200px;
    }
    50% {
        opacity:0.7;
    }
    70% {
        transform: scale(1.1);
    }
    100% {
        opacity:1;
        transform:scale(1);
        top:50px;
    }
}
@keyframes img {
    0% {
        transform: scale(0);
    }
    70% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
